@model tesvolt.dbmodels.app.ProjectModel

@{
    ViewData["Title"] = "Project Details";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-secondary text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Project Information</strong>
                    <div>
                        <a asp-action="Edit" class="btn btn-dark btnbg-primary" asp-route-id="@Model?.Id">Edit</a>
                        <a asp-action="Index" class="btn btn-light btn-sm">Back to List</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProjectCode)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProjectCode)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.AssetName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.AssetName)
                    </dd>

                   @*  <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.AccumulatedHr)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.AccumulatedHr)
                    </dd> *@

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProjectStatus)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProjectStatus)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PoName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PoName.Name) <!-- Assuming PoName is a navigation property -->
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
